:root[data-mantine-color-scheme="light"] {
    --mantine-color-body: #eef6f7 !important;
    --paper-border-color: #000000 !important;
}


:root[data-mantine-color-scheme="dark"] {
    --mantine-color-body: #151515 !important;
    --paper-border-color: #FFF8F2 !important;
}

.bitcount_prop_single {
    font-family: var(--font-bitcount-prop-single);
}